<center>
  <%= will_paginate @media, :inner_window => 1 %>
</center>
<% @media.each do |medium| %>
  <%= link_to(medium) do %>
    <button type="button" class="btn btn-default btn-lg btn-block">
      <span id="index_list_name"> <em><%= medium.title %></em></span>
    </button>
  <% end %>
<% end %>
