<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <center>
      <h1>
      Hi <%= @user.name %>, this is just a reminder that you're scheduled to serve this Sunday at Calvary316 on the <%= @event.role.name %> Team.<br>
      </h1>
    </center>
  </body>
</html>