<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>
      <center>
        Hi <%= @user.first_name %>, this is just a reminder that you're scheduled to serve this Sunday, <%= @event.event_date.strftime("%B #{@event.event_date.day.ordinalize}") %> at Calvary316 on the <%= @event.role.name %> Team.<br>
      </center>
      <br>
      Thanks!<br>
      Creighton
    </h3> 
  </body>
</html>