<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>
      Hi <%= @user.name %>, this is just a reminder that you're scheduled to serve this Sunday at Calvary 316 on the <%= @event.role.name %> team.<br>
    </h2>
     <p>
      If you'd like to see all the dates for which you're currently scheduled, you can do so by going to http://www.c316.tv and logging in with your email address.<br>
      <br>
      Thanks!<br>
      Creighton
    </p>
  </body>
</html>