<div class="col-lg-6 col-lg-offset-3">
  <h1>Current Setlist</h1>
  <h2><%= link_to @setlist.date, @setlist %></h2>
  <% @songs.each do |song| %>
    <h4><%= link_to song.name, song %></h4>
  <% end %>
  <% if signed_in? && current_user.admin? %>
      <h5><%= link_to 'New Setlist', new_setlist_path %></h5>
  <% end %>
</div>
