<div class="inactive_message">
  <span style="color: green">Hello, <%= @user.first_name %>!</span>
   Your account exists, but it doesn't appear to be active.<br>
   This is usually because your account is still awaiting activation by an administrator.
  <br>
  <br>
  If you believe you've reached this page in error, please email <span style="color: red">Andy (agperez@gmail.com).</span> Cheers!
</div>
