<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <%= link_to "Email Creighton", returnemail_path, class: "btn btn-large btn-primary" %>
</div>