<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <h2>
      <%= @email_content.text %>
    </h2>
  </head>
    <body>
      <%= @email_content.text %>
    </body>
</html>
