<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <h2>
    <%= @email_content.text %>
  </h2>
  </head>
  <body>
    To respond to <%= @user.first_name %>, you can email them at <%= @user.email %>.<br> Or send them a message through their profile on the C316 app.
  </body>
</html>
