<div id="social">
  <a href="http://twitter.com/calvary316"><%= image_tag("twitter.png", class: "icons", alt: "Calvary316 Twitter") %></a>
  <a href="http://facebook.com/calvary316"><%= image_tag("facebook.png", class: "icons", alt: "Calvary316 Facebook") %></a>
  <a href="https://squareup.com/market/calvary316"><%= image_tag("square.png", class: "icons", alt: "Calvary316 Square Donations") %></a>
  <a href="http://calvary316.net"><%= image_tag("316icon2.png", class: "icons", alt: "Calvary316.net") %></a>
</div>