<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div>
      <h1>
        <div class="upcoming_events">
          <% @events.each do |event| %>
            <div class="user_upcoming_dates">
              <%=event.event_date.strftime("%B %d, %Y")%> - <span style="color:<%=event.role.color%>;"><%= event.role.name %></span>
            </div>
          <% end %>
        </div>
      </h1>
    </div>
  </body>
</html>